%h3 Searches

%p For now, manage changes to saved searches directly in the database.

.well
  %table.table.table-hover
    %tr
      %th Name
      %th Priority
      %th Min Cashflow
      %th State
      %th City
      %th Keyword
      %th Listings
      %th Links

    - SavedSearch.all.each do |search|
      %tr
        %td= search.name
        %td= search.priority
        %td= dollars search.min_cashflow
        %td= search.state
        %td= search.city
        %td= search.keyword || 'n/a'
        %td= search.listings.count
        %td
          |
          - Source.all.each do |source|
            - src = source.source_class.new( search.as_filter )
            - if src.respond_to?(:url_for_page)
              = link_to source.name, src.url_for_page(1), target: '_blank'
            - else
              #{source.name} (API Only)
            |