%h3 Searches

%p For now, manage changes to saved searches directly in the database.

%table.table.table-hover
  %tr
    %th Name
    %th Priority
    %th Min Cashflow
    %th State
    %th City
    %th keyword

  - Search.all.each do |search|
    %tr
      %td= search.name
      %td= search.priority
      %td= search.min_cashflow
      %td= search.state
      %td= search.city
      %td= search.keyword