%h3 Searches

%p For now, manage changes to saved searches directly in the database.

- @searches.each do |group|
  .well
    %h3{id: group.id}= link_to group.name, search_listings_path(group)

    %table.table.table-hover
      %tr
        %th Name
        %th Priority
        %th Min Cashflow
        %th State
        %th City
        %th Keyword
        %th Listings
        %th Links (only some sources can filter on-site)

      - group.saved_searches.each do |search|
        %tr
          %td= search.name
          %td= search.priority
          %td= dollars search.min_cashflow
          %td= search.state
          %td= search.city
          %td= search.keyword || 'n/a'
          %td= search.listings.count
          %td
            |
            - search.sites.each do |site|
              - src = site.adapter( search )
              - if src.respond_to?(:url_for_page)
                = link_to site.name, src.url_for_page(1), target: '_blank'
              - else
                #{site.name} (API Only)
              |